# Requirements for wger for production
Django>=1.9,<1.10
django-recaptcha
reportlab
rcssmin
pytz
django_mobile
django-formtools>=1.0,<1.1
dj-static
dj-database-url
bleach
python-mimeparse
python-dateutil
pyparsing
Pygments
psycopg2
pillow
olefile
MarkupSafe
Jinja2
easy-thumbnails
docutils
django_compressor
icalendar
html5lib
gunicorn
django-bootstrap-breadcrumbs
django-appconf
whitenoise
webencodings
static3
sqlparse
sphinx
snowballstemmer
django-sortedm2m
django-bower
invoke
imagesize
rjsmin
requests
Babel
alabaster
appdirs
packaging


# REST API
djangorestframework>=3.2,<3.3
django-filter
django-tastypie
django-cors-headers

# Python3 compatibility
six
